@section Styles {
<link rel="stylesheet" href="~/css/views/home.css" />
}

@{
    ViewData["Title"] = "Domů";
}

<section class="showcase showcase-first container">
    <div class="showcase-info mt-5 mt-md-0">
        <h3 class="mb-3">ČÍSLO JEDNA!</h3>
        <p class="mb-0">Jsem nejlepší certifikovaný prodejce ojetých vozů s největší možnou zárukou kvality a jistoty.</p>
        <a asp-area="" asp-controller="Cars" asp-action="Index" class="btn btn-primary btn-lg mt-4">Nakupovat</a>
    </div>
    <div class="showcase-img mt-3 mt-md-0">
        <partial name="~/Views/Home/Partials/_landingSvg.cshtml" />
    </div>
    <div class="showcase-hint">
        <span class="material-icons-round">expand_more</span>
    </div>
</section>

<section class="showcase showcase-second container">
    <h2>Proč si zvolit Vozový park autobazaru?</h2>
    <div class="showcase-cards">
        <div class="showcase-card">
            <span class="material-icons-round">directions_car</span>
            <h3 class="mb-3">Výběr</h3>
            <p class="mb-0">Vybírejte z více jak 12 000 prověřených vozů v ČR</p>
        </div>
        <div class="showcase-card">
            <span class="material-icons-round">verified_user</span>
            <h3 class="mb-3">Záruka</h3>
            <p class="mb-0">Poskytujeme doživotní záruku na legální původ vozu</p>
        </div>
        <div class="showcase-card">
            <span class="material-icons-round">speed</span>
            <h3 class="mb-3">Kontrola</h3>
            <p class="mb-0">Kontrola najetých kilometrů u každého z našich vozů</p>
        </div>
    </div>
</section>

@section Scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
<script>
    $("main.container").removeAttr("class");

    $(".showcase-hint > span").click(() => {
        $([document.documentElement, document.body]).animate({
            scrollTop: $(".showcase-second").offset().top
        }, 750);
    });

    gsap.registerPlugin(ScrollTrigger);

    const sections = gsap.utils.toArray('.showcase')

    ScrollTrigger.create({
  
      trigger: 'header',
      start: 'top top',
      endTrigger: '.footer',
      end: 'bottom bottom',
      markers: false,
      snap: {
        snapTo: 1 / (sections.length - 1),
        duration: {min: 0.25, max: 0.75},
        delay: 0.125,
        ease: "power1.inOut"
      }
  
    })

    gsap.fromTo(".showcase-info", {opacity: 0, x: -30}, {opacity: 1, x: 0, duration: 1});

    const tl1 = gsap.timeline({
        scrollTrigger: {
        trigger: ".showcase-first",
        start: "80% top",
        toggleActions: "none none none restart",
        markers: false
      }
    });

    tl1.fromTo(".showcase-info", {opacity: 0, x: -30}, {opacity: 1, x: 0, duration: 1});

    const tl2 = gsap.timeline({
        scrollTrigger: {
        trigger: ".showcase-second > h2",
        start: "top bottom",
        toggleActions: "restart none none none",
        markers: false
        }
    });

    tl2.fromTo(".showcase-second", {opacity: 0, y: 20}, {opacity: 1, y: 0, duration: 1, delay: 0.5});

</script>
}