@import "partials/_variables";
@import "mixins/_breakpoints";
@import "partials/_navbar";
@import "mixins/_utilities";

*, *::before, *::after {
    /*font-family: 'Noto Sans', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;

    @include media-breakpoint-up(md) {
        font-size: 16px;
    }
}

main, body {
    /* custom scrollbar */
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        background: var(--scrollbarBG);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--thumbBG);
        border-radius: 6px;
        //border: 3px solid var(--scrollbarBG);
    }

    /*scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);*/
}

.footer {
    width: 100%;
    white-space: nowrap;
    padding: 19.1px 0;

    @include media-breakpoint-up(md) {
        padding: 17.5px 0;
    }
}

.btn-primary {
    background-color: var(--primary);
    color: #fff;
    border-color: var(--primary);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.btn-outline-primary {
    background-color: transparent;
    color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
    color: var(--white);
}

.btn-submit {
    //font-size: 0.9375rem;
    //font-weight: 500;
    padding: 0.5rem 2rem;
    //border-radius: 2px;
}

.modal-content {
    border: unset;
}

.modal-header {
    background-color: var(--primary);
    color: var(--white);
}

.modal-body {
    margin-bottom: 1rem;
}

.min-height-fix {
    @include container-min-height;
}

.height-fix {
    @include container-height;
}