:root {
  --primary-hue: 356;
  --primary-saturation: 77%;
  --primary: hsl(var(--primary-hue), var(--primary-saturation), 61%);
  --primary-hover: hsl(var(--primary-hue), var(--primary-saturation), 64%);
  --white: #fff;
  --black: #000;
  --black-accent: hsl(0, 0%, 13%);
  --gray-dark: hsl(0, 0%, 28%);
  --scrollbarBG: transparent;
  --thumbBG: hsl(0, 0%, 65%);
  --shadow-card-big: rgba(0, 0, 0, 0.1) 0px 2px 24px; }

/* NAVBAR HEIGHT */
/* FOOTER HEIGHT */
.navbar {
  background-color: var(--primary); }
  .navbar .navbar-brand {
    max-width: 65vw; }
    @media (min-width: 576px) {
      .navbar .navbar-brand {
        max-width: 25vw; } }
    @media (min-width: 768px) {
      .navbar .navbar-brand {
        max-width: 100%; } }

.navbar-nav > .nav-item > .nav-link {
  font-weight: 500;
  color: var(--white);
  transition: background-color ease-in-out 350ms;
  border-radius: 1rem;
  margin: 0 0.25rem; }
  .navbar-nav > .nav-item > .nav-link:hover, .navbar-nav > .nav-item > .nav-link:focus {
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.15); }

:root {
  --primary-hue: 356;
  --primary-saturation: 77%;
  --primary: hsl(var(--primary-hue), var(--primary-saturation), 61%);
  --primary-hover: hsl(var(--primary-hue), var(--primary-saturation), 64%);
  --white: #fff;
  --black: #000;
  --black-accent: hsl(0, 0%, 13%);
  --gray-dark: hsl(0, 0%, 28%);
  --scrollbarBG: transparent;
  --thumbBG: hsl(0, 0%, 65%);
  --shadow-card-big: rgba(0, 0, 0, 0.1) 0px 2px 24px; }

/* NAVBAR HEIGHT */
/* FOOTER HEIGHT */
*, *::before, *::after {
  /*font-family: 'Noto Sans', sans-serif;*/
  font-family: 'Open Sans', sans-serif; }

html {
  position: relative;
  min-height: 100%;
  font-size: 14px; }
  @media (min-width: 768px) {
    html {
      font-size: 16px; } }

main, body {
  /* custom scrollbar */
  /*scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);*/ }
  main::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 10px;
    height: 10px; }
  main::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background: var(--scrollbarBG); }
  main::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px; }

.footer {
  width: 100%;
  white-space: nowrap;
  padding: 19.1px 0; }
  @media (min-width: 768px) {
    .footer {
      padding: 17.5px 0; } }

.btn-primary {
  background-color: var(--primary);
  color: #fff;
  border-color: var(--primary); }

.btn-primary:hover, .btn-primary:focus {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover); }

.btn-outline-primary {
  background-color: transparent;
  color: var(--primary);
  border-color: var(--primary); }

.btn-outline-primary:hover, .btn-outline-primary:focus {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
  color: var(--white); }

.btn-submit {
  padding: 0.5rem 2rem; }

.modal-content {
  border: unset; }

.modal-header {
  background-color: var(--primary);
  color: var(--white); }

.modal-body {
  margin-bottom: 1rem; }

.min-height-fix {
  min-height: calc(100vh - (49.25px + 60px)); }
  @media (min-width: 576px) {
    .min-height-fix {
      min-height: calc(100vh - (48.8px + 60px)); } }
  @media (min-width: 768px) {
    .min-height-fix {
      min-height: calc(100vh - (56px + 60px)); } }

.height-fix {
  height: calc(100vh - (49.25px + 60px)); }
  @media (min-width: 576px) {
    .height-fix {
      height: calc(100vh - (48.8px + 60px)); } }
  @media (min-width: 768px) {
    .height-fix {
      height: calc(100vh - (56px + 60px)); } }
