:root {
  --primary: hsl(356, 77%, 61%);
  --primary-hover: hsl(356, 77%, 64%);
  --white: #fff;
  --black: #000;
  --black-accent: #212121; }

/* NAVBAR HEIGHT */
/* FOOTER HEIGHT */
.navbar {
  background-color: var(--primary); }
  .navbar .navbar-brand {
    max-width: 65vw; }
    @media (min-width: 576px) {
      .navbar .navbar-brand {
        max-width: 25vw; } }
    @media (min-width: 768px) {
      .navbar .navbar-brand {
        max-width: 100%; } }

.navbar-nav > .nav-item > .nav-link {
  font-weight: 500;
  color: var(--white);
  transition: background-color ease-in-out 350ms;
  border-radius: 1rem;
  margin: 0 0.25rem; }
  .navbar-nav > .nav-item > .nav-link:hover, .navbar-nav > .nav-item > .nav-link:focus {
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.15); }

*, *::before, *::after {
  /*font-family: 'Noto Sans', sans-serif;*/
  font-family: 'Open Sans', sans-serif; }

html {
  position: relative;
  min-height: 100%;
  font-size: 14px; }
  @media (min-width: 768px) {
    html {
      font-size: 16px; } }

body {
  margin-bottom: 60px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  padding: 19.1px 0; }
  @media (min-width: 768px) {
    .footer {
      padding: 17.5px 0; } }

.btn-primary {
  background-color: var(--primary);
  color: #fff;
  border: none; }

.btn-primary:hover, .btn-primary:focus {
  background-color: var(--primary-hover); }
