:root {
  --primary-hue: 356;
  --primary-saturation: 77%;
  --primary: hsl(var(--primary-hue), var(--primary-saturation), 61%);
  --primary-hover: hsl(var(--primary-hue), var(--primary-saturation), 64%);
  --white: #fff;
  --black: #000;
  --black-accent: hsl(0, 0%, 13%);
  --gray-dark: hsl(0, 0%, 28%);
  --scrollbarBG: transparent;
  --thumbBG: hsl(0, 0%, 65%);
  --shadow-card-big: rgba(0, 0, 0, 0.1) 0px 2px 24px; }

/* NAVBAR HEIGHT */
/* FOOTER HEIGHT */
.card-container {
  padding: 0.875rem; }
  .card-container .card a.material-icons-two-tone {
    text-decoration: none;
    color: var(--black-accent); }
  .card-container .card-anchor {
    cursor: pointer; }
  .card-container .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 2.5rem; }
    .card-container .card .card-body .card-heading {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem; }
      .card-container .card .card-body .card-heading h5 {
        color: var(--primary);
        font-weight: 700;
        margin: 0; }
      .card-container .card .card-body .card-heading .card-actions {
        display: flex; }
        .card-container .card .card-body .card-heading .card-actions :first-child {
          margin-right: 0.625rem; }
    .card-container .card .card-body .card-info {
      width: 100%;
      display: grid;
      gap: 0.675rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr; }
      .card-container .card .card-body .card-info .card-info-item {
        display: flex;
        color: var(--gray-dark); }
        .card-container .card .card-body .card-info .card-info-item :first-child {
          margin-right: 0.5rem; }
