:root {
    --primary: hsl(356, 77%, 61%);
    --primary-hover: hsl(356, 77%, 64%);
    --white: #fff;
    --black: #000;
    --black-accent: #212121;
}

/* NAVBAR HEIGHT */
$nav-height-xs: 49.250px;
$nav-height-sm: 48.800px;
$nav-height-md: 56px;

/* FOOTER HEIGHT */
$footer-height: 60px;
