.details-container {
    justify-content: center;
    padding: 3rem 0;
}

/*.technic-params-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}*/

.technic-params-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;

    h6, p {
        margin: 0;
        line-height: 1rem;
        color: var(--gray-dark);
    }

    h6 {
        font-weight: 600;
    }
}

.heading-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
}

.heading-subtitle {
    font-weight: 600;
}

.technic-decsription .heading-subtitle {
    font-size: 1rem;
}